/*GENERAL CONFIGURATION*/
*{
    margin: 0;
    padding: 0;
}

/* NAV BAR CONFIGURATION*/

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 0.5rem;
    padding: 11% 0%;
    z-index: 2;
}

#toggle-menu{
  position:fixed;
  z-index: 1;
  margin-left: 82%;
  visibility: hidden;
}

/* Buttons Menu */
#homeButton, #aboutMeButton, #skillsButton, #portfolioButton, #contactButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
    width: 4.3rem;
    margin-top: 0.2rem;
    border-radius: 50%;
  }

  #homeButton img, #skillsButton img, #portfolioButton img, #contactButton img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  
  #homeButton img, #skillsButton img, #portfolioButton img, #contactButton img {
    transition: transform 0.3s;
  }
  
  #homeButton:hover, #aboutMeButton:hover, #skillsButton:hover, #portfolioButton:hover, #contactButton:hover {
    background-color: rgb(0,0,205);
    /* border-radius: 30%;    */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 8rem; 
  }

  #homeButton:hover img, #aboutMeButton:hover img, #skillsButton:hover img, #portfolioButton:hover img, #contactButton:hover img {
    transform: scale(1.2);
  }
  
  #homeButton .text, #aboutMeButton .text, #skillsButton .text, #portfolioButton .text, #contactButton .text {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    color: white;
  }
  
  #homeButton:hover .text, #aboutMeButton:hover .text, #skillsButton:hover .text, #portfolioButton:hover .text, #contactButton:hover .text {
    display: block;
  }

/* Size to aboutMe button*/
  #aboutMeButton img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

/*CONFIGURATION BODY*/

/* Section Home*/
#homeSection{
    display: flexbox;
    align-items: center;
    height: 41rem;
    margin-left: 10rem;
    flex-direction: column;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 90%), url("../sources/image/miFoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#homeSection h1{
    justify-content: center;
    padding: 20% 0 0 0;
    font-size: 6rem;
    color: darkslategrey;
    
}


#homeSection #overwrite-text{
  animation: sobreescribir 3s infinite;
  font-size: 3rem;
  color: rgb(255,69,0);
  font-weight: bold;
}

@keyframes sobreescribir{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Sections Contact*/
#contactSection{
    margin-top: 0.1rem;
}

#aboutMeSection, #skillsSection, #portfolioSection, #contactSection {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40rem;
    margin-top: 2rem;
    flex-direction: column;
}

#aboutMeSection h2, #skillsSection h2, #portfolioSection h2, #contactSection h2{
    font-size: 3rem;
    color: darkslategrey;
}

#aboutMeSection p{
    font-size: 1.3rem;
    text-align: justify;
    margin: 4rem 3rem 0 11rem;
    width: 75%;
}

#skillsSection div{
    height: 100%;    
    padding: 31% 0;
}

#skillsSection i{
    margin-right: 6rem;
    transform: scale(400%);
}

#portfolioSection div{
    height: 100%;
    display:flex;
    margin-top: 1.5%;
}

#portfolioSection div div{
    border: 4px solid rgb(220,220,220);
    height: 20rem;
    width: 20rem;
    margin-right: 1rem;
    align-items: center;
    justify-content:center;
}

#portfolioSection div div img {
  height: 80%;
  width: 100%;
}

#portfolioSection div div img:hover {
  transform: scale(1.1);
}

#contactSection{
  display: flex;
  width: 100%;
}
#contactSection #contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

#contactSection h2{
  width: 100%;
  text-align: center;
}

#contactSection #icons{
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

#contactSection i{
  display: inline-flex;
}

#contactSection img{
  width: 4rem;
  height: 4rem;
}

#contactSection span{
  color: darkslategrey;
  font-size: 1.5rem;
  margin-right: 4px;
  padding-top: 1rem;
}

#contactSection .text{
  font-weight: bold;
}

#contactSection #contacts{
  width: 100%;
}

#contactSection #form{
  float: right;
  flex-direction: column;
  width: 48%;
  margin-top: 5%;
}

#contactSection #form form div{
  margin-bottom: 4%;
}

#contactSection #form form input, textarea{
  border: 2px solid darkslategrey;
  color: darkslategrey;
  border-radius: 5px;
}

#contactSection #form form input{
  height: 2rem;
}

#contactSection #form #lineone{
  display: flex;
}

#contactSection #form #lineone input{
  flex: 1;
  margin-right: 10px;
}

#contactSection #form #lineone input:last-child{
  margin-right: 0;
}

#contactSection #form #linetwo input, #linethree textarea, #lineone{
  width: 100%;
}

#contactSection #form #linefour{
  text-align: center;
}

#contactSection #form #linefour input{
  width: 11rem;
  height: 2.5rem;
  background-color: blue;
  font-size: 1rem;
  color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Web responsive Media query*/

/* @media only screen and (max-width: 770px) {
  #homeSection{
    margin-left: 6rem;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 1) 76%), url("../sources/image/miFoto.jpg");
    
  }

  #aboutMeSection div{
    margin-right: 3rem;
  }

  #skillsSection div{
    margin-left: 3rem;
  }

  #skillsSection div i{
    margin-right: 3rem;
    transform: scale(300%);
  }

  #portfolioSection #portfolio{
    margin-left: 5rem;
  }

  #portfolioSection div div{
    height: 11rem;
    width: 11rem;
    margin-right: 1rem;
  }

  #contactSection #icons{
    margin-left: 6rem;
  } 

  #contactSection span{
    font-size: 1.3rem;
  }

  #contactSection #form{
    width: 38%;
    margin-right: 2rem;
    margin-left: 0;
  }

  #contactSection #form #linetwo input, #linethree textarea, #lineone input{
    width: 100%;
  }
} */

@media only screen and (max-width: 770px) {  

  /* HOME SECTION */
  #homeSection{
    margin-left: 1rem;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 1) 65%), url("../sources/image/miFoto.jpg");
    outline: none;
    width: 90%;    
  }

  #toggle-menu img{
    max-width: 100%;
  }
  
  #toggle-menu{    
    position: fixed;
    z-index: 1;
    /* margin-left: 85%; */
    margin-right: 0px;
    cursor: pointer;
    width: 40px;
    visibility: visible;
  }

  nav{
    visibility: hidden;
  }

  #homeButton, #aboutMeButton, #skillsButton, #portfolioButton, #contactButton {
    /* background-color: rgb(0,0,205); */
    border-radius: 30%;   
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 8rem; 
  }


  /* ABOUT SECTION */
  #aboutMeSection div p{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 100%;
  }

  #aboutMeSection div{
    margin-right: 5rem;
  }

  /* SKILLS SECTION  */
  #skillsSection div{
    margin-left: 2rem;
    margin-top: 40%;
  }

  #skillsSection div i{
    margin-right: 2rem;
    transform: scale(200%);
  }

  /* PORTFOLIO SECTION  */
  #portfolioSection #portfolio{
    margin-left: 1rem;
    margin-top: 30%;
  }

  #portfolioSection div div{
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
  }

  /* CONTACT SECTION  */
  #contactSection #icons{
    margin-left: 2rem;
    margin-right: 0rem;
  } 

  #contactSection span{
    font-size: 0.8rem;
  }

  #contactSection #form{
    width: 95%;
    margin-right: 1rem;
    margin-left: 0;
  }

  #contactSection #form #linetwo input, #linethree textarea, #lineone input{
    width: 100%;
  }

  #contactSection i{
    display: flex;
    flex-direction: column;
  }

}